	#templates .model, #templates .UNIT, #templates .SPECIAL_RULE{border:2px solid red}

	.invisible{ display:none;}
	
	.iconDisabled{ opacity:0.2; }

	.del{ background-color: red;  }
	
	#templates{ border:1px solid red; margin:10px; height:300px; visibility:hidden; display:none;}

html{
overflow-y: visible;

}    
body{
	margin:0px;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 1.5em;
     overflow-y: visible;
}
    
.spacer{
    width:30px;
    display:inline-block;
}

#commandBar{
	margin:0px;
	padding:0px;
	position:fixed;
	z-index: 100;
	background-color:#4477AA;
	width:100%;
    height:60px;
    box-shadow: 0px 14px 14px #888888;
	
}
#commandBar>div{
	background-color:#4285F4;
	margin-bottom:5px;
	
}
    
#inout{
    float:right;
    margin:20px;
}
#inout button{
    display:inline-block;
}

#inout .alert{

    position:fixed;
     
    top: 100px;
    right:20px;

}
#loadFile{
    display:none;
}

#search{
    padding:20px;
    color:#e1eeee;
    overflow:hidden;
    width:auto;
}
.searchElement{
    color:darkgrey;
	width:85%;
	height:30px;
	border:0px;
	background-color: #e1eeee;
}
    
 
#dropzone{
	display:inline-block;
	margin-right:5px;

	padding:5px;
	width:200px;  
}    

#dropzone.dropInactive{
	border:3px dashed;
    color:#4477AA;
}
#dropzone.dropVisible{
    border:3px dashed;
    color: #e1eeee;
}
    
#dropzone.dropActive{
    border:3px solid;
    background-color: #e1eeee;
    color:#4477AA;
}
    
.list{
	padding-top:75px;

}
  
.header{
	background-color:gray;
	color:white;	
	padding-left:4px;
	height:24px;
	vertical-align:middle;
}
.header>span{
	margin-top:5;
	margin-right:5px;
}


.props>div:nth-child(even){
	background-color:#d1dafa;
	
}

.group{
	margin-bottom: 5px;
	margin-top:5px;
}

.sub{
    margin-left:20px;
	
	
}

.parameter{
	height:20px;
	
}

.parameter .name{
	position:absolute;
	left:90px;
	display:inline-block;
	width:250px;
	text-align:right;
	padding-right:30px;
	font-weight:bold;
}

.parameter .value{
	position:absolute;
	left:360px;
	display:inline-block;
	padding-right:30px;
}


.parameter .disabled{
    color:gray;
}
   

.modified{
    color:maroon;
    font-weight:500;
}

.description{
	position:absolute;
	right:20px;
	font-size:x-small;
	text-align:right;
	width:50%;
	display:inline-block;
	overflow-y:hidden;
	height:20px;
}
    
.group .description{
    font-size:small;
}
    
.parameter .editPanel{
			
	position:absolute;
	left:360px;
	display:inline-block;
	padding-right:30px;
}

.editPanel>div{
	display:inline;   
}
    
input:focus{
   border-color: #4477AA;
}
    
input{
    border:1px solid transparent;
    height:22px;
}
.editPanel input{
    margin-top:-1px;
    margin-left:-1px;
}

.ui-icon{ display:inline-block; vertical-align:text-bottom;} 
	  
    
.editPanel fieldset{
		border:0px;
	}
	