
    <div class="group">
        <div class="header"> 
            <span class="collapseIcon ui-icon"></span><span><%= name %></span> <span class="description"><%= description %></span></div>
        <div class="props"></div>
        <div class="sub"></div>
    </div>    
    
    