<div class="parameter"> 
    <div class="name"><%= name %></div> 
    <div class="value" tabindex="2"><%= value %></div>
    <div class="editPanel"><div class="inputDiv"></div><span class="doneIcon ui-icon ui-icon-check"></span></div>
    <span class="description"> <%= description %></span>
</div>
    <span class="stringValue"><input class="stringValue" type="text" value="<%= value %>" tabindex="2"></input></span>
